<section class="content-header" data-controller="calendar">
	<div class="content-header-title">
		<h1 class="title">
            {% trans %} Calendar {% endtrans %}
		</h1>
	</div>

	<div class="page-actions">
		<div class="datagrid-filters">
			<div class="btn-group action-filters">
                <select class="form-control">
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>    
			</div>
		</div>
		<div class="datagrid-filters">
			<div class="btn-group action-filters">
                <select class="form-control">
                    <option value="11">Alle Gruppe</option>
                    <option value="12">December</option>
                </select>    
			</div>
		</div>
		<div class="datagrid-filters">
			<div class="btn-group action-filters">
                <select class="form-control">
                    <option value="11">Simone</option>
                    <option value="12">December</option>
                </select>    
			</div>
		</div>        
		<div class="global-actions">
			<a class=" action-new btn btn-primary" data-action="click->calendar#filter">
				<span class="action-label">Filtern</span>
			</a>
			<a class=" action-new btn btn-primary" data-action="click->calendar#filter">
				<span class="action-label">Als Liste</span>
			</a>
		</div>
	</div>
</section>

<div class="btn-group mtb-2" role="group" aria-label="Basic example">
	<a type="button" class="btn btn-secondary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'year': (output|first).date | date('Y') -1 })) }}">{{(output|first).date | date('Y') -1 }}</a>
	<a type="button" class="btn btn-secondary">
		{{(output|first).date | date('Y')}}</a>
	<a type="button" class="btn btn-secondary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'year': (output|first).date | date('Y') +1 })) }}">{{(output|first).date | date('Y') +1 }}</a>
</div>
