{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1>Calendar index</h1>
    <a class="btn btn-primary" href="{{path('app_calendar_overview_jahr',{year: "now"|date('Y')})}}">{% trans %} Jahresansicht {% endtrans %}</a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}From To{% endtrans %}</th>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Number Of Working Days{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.id }}</td>
                <td>{{ calendar.startDate|date('Y-m-d') }} | {{ calendar.endDate|date('Y-m-d') }}</td>
                <td>{{ calendar.user ? calendar.user.email : '' }}</td>
                <td>{{ calendar.absenceInWorkingDays }}</td>
                <td>
                    <a href="{{ path('app_calendar_show', {'id': calendar.id}) }}">show</a>
                    <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_calendar_new') }}">{% trans %} Neu {% endtrans %}</a>
{% endblock %}
