{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
<h1> {% trans %} Kalender {% endtrans %} {{user.name}}</h1>
<div class="card gray" style="mt-2 mb-2" id="filter">

    <div class="card-body">
        <div class="row mb-2 p-1 filters">
                <div class="col-md-2"><label>{% trans %}Monat{% endtrans %}:</label></div>
                <div class="col-md-4 p-1"> 
                        <select class="form-control filterTable" id="selectMonth" >
                            <option value="01"> {% trans %}Januar{% endtrans %}</option>
                            <option value="02"> {% trans %}Februar{% endtrans %}</option>
                            <option value="03"> {% trans %}März{% endtrans %}</option>
                            <option value="04"> {% trans %}April{% endtrans %}</option>
                            <option value="05"> {% trans %}Mai{% endtrans %}</option>
                            <option value="06"> {% trans %}Juni{% endtrans %}</option>
                            <option value="07"> {% trans %}July{% endtrans %}</option>
                            <option value="08"> {% trans %}August{% endtrans %}</option>
                            <option value="09"> {% trans %}September{% endtrans %}</option>
                            <option value="10"> {% trans %}Oktober{% endtrans %}</option>
                            <option value="11"> {% trans %}November{% endtrans %}</option>
                            <option value="12"> {% trans %}Dezember{% endtrans %}</option>
                        </select>
                </div>
                <div class="col-md-2"><label>{% trans %}Jahr{%endtrans%}:</label></div>
                <div class="col-md-4 p-1"> <input type="text" class="filterTable form-control" id="selectYear" data-searchfield="" value="{{"now"|date('Y')}}"></div>
                <div class="col-xl-12 mt-2">
                <div class="d-flex flex-row-reverse">
                    <div class="btn btn-primary mr-2" onclick="changeMonth()"> Filtrer </div>
                </div>
            </div>        
        </div>
    </div>
</div>
{% set diff = calculateDiff(monthBegin) %}
<table class="table table-bordered">
        <thead> 
            <tr>
                <th colspan="7">
                    {{ monthName  | trans()}}
                </th>
            </tr>
            <tr>
                <th>
                    {% trans %} Montag {% endtrans %}
                </th>
                <th>
                    {% trans %} Dienstag {% endtrans %}
                </th>
                <th>
                    {% trans %} Mittwoch {% endtrans %}
                </th>
                <th>
                    {% trans %} Donnerstag {% endtrans %}
                </th>
                <th>
                    {% trans %} Freitag {% endtrans %}
                </th>
                <th>
                    {% trans %} Samstag {% endtrans %}
                </th>                
                <th>
                    {% trans %} Sonntag {% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..4 %}
                <tr>
                    {% for j in 1..7 %}
                        {% set day = i * 7 + j - diff %}
                        {% set date = monthBegin|date_modify('+' ~ day ~ ' day') %}
                        <td style="padding:0;">
                            {% if date|date('m') == month and day >= 0 %}
                                <div style="background-color:lightgray;width:100%;text-align:center;">{{ date|date('d') }}</div>
                                <div style="min-height:10px;padding:5px">
                                {% if timesheet[date|date('d-m-Y')] is defined %}
                                    <div class="overtime 
                                    {% if timesheet[date|date('d-m-Y')].overtime  >= 0 %}
                                        text-success
                                    {% else %}
                                        text-danger
                                    {% endif %}
                                    
                                    ">{{ timesheet[date|date('d-m-Y')].overtime }} min</div>
                                {% elseif ( date|date('l') in workingDays) and  
                                            absence[date|date('d-m-Y')] is not defined and 
                                            holidays[date|date('d-m-Y')] is not defined and
                                            groupHolidays[date|date('d-m-Y')] is not defined and 
                                            bankHolidays[date|date('d-m-Y')] is not defined and 
                                            companyHolidays[date|date('d-m-Y')] is not defined  and
                                             (date|date('Y-m-d') <= "now"|date('Y-m-d'))
                                %}
                                    <a href="{{ path('admin',{'routeName':'admin_timesheet_consume_time','entityId':user.id,'start':date|date('Y-m-d')} ) }}" class="btn btn-danger btn-xs" style="text-align:center">
                                        {% trans %} No Timesheet for the day, Click to add {% endtrans %}
                                    </a>
                                {% endif %}
                                {% if absence[date|date('d-m-Y')] is defined %}
                                    <div style="border:1px solid red;border-radius:5px;;width:100%;text-align:center;">{{absence[date|date('d-m-Y')].typeOfAbsence.name}}</div>
                                {% endif %}
                                {% if holidays[date|date('d-m-Y')] is defined %}
                                   <div style="border:1px solid purple;border-radius:5px;;width:100%;text-align:center;">{{holidays[date|date('d-m-Y')].typeOfAbsence.name}}</div>
                                {% endif %}    
                                {% if groupHolidays[date|date('d-m-Y')] is defined %}
                                    <div style="border:1px solid pink;border-radius:5px;;width:100%;text-align:center;">{% trans %} group {% endtrans %} : {{groupHolidays[date|date('d-m-Y')].typeOfAbsence.name}}</div>
                                {% endif %}    
                                {% if companyHolidays[date|date('d-m-Y')] is defined %}
                                    <div style="border:1px solid pink;border-radius:5px;;width:100%;text-align:center;">{% trans %} Company {% endtrans %} : {{companyHolidays[date|date('d-m-Y')].typeOfAbsence.name}}</div>
                                {% endif %}                                      
                             {#   {% if bankHolidays[date|date('d-m-Y')] is defined %}
                                    <div style="border:1px solid lightgray;border-radius:5px;;width:100%;text-align:center;">{{bankHolidays[date|date('d-m-Y')].typeOfAbsence.name}}</div>
                                {% endif %}    
                            #}
                                <a href="{{ path('admin',{'routeName':'holiday_request_new', 'entityId' : user.id, 'date':date|date('d-m-Y') } ) }}" class="btn btn-info"> +
                                </a>
                                </div> 
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}       
</table>
<script> 
    function changeMonth(){
        var month = document.getElementById("selectMonth").value;
        var year = document.getElementById("selectYear").value;
        const queryString = window.location.href;
        var href = new URL(queryString);
        href.searchParams.set('month', month);
        href.searchParams.set('year', year);
        window.location = href.toString();
        console.log(queryString);
    }
</script>
{% endblock %}
