{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
<style>
.resizable-element {
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc; /* Optional: Add a border to see the element */
    overflow: hidden; /* Ensure content doesn't overflow */
    top: 0;
    left: 0;
    width: 100%; /* Ensure it spans the full width of the parent cell */
}

.resize-handle {
    width: 100%;
    height: 10px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -5px; /* Position the handle outside the element */
    cursor: s-resize; /* Vertical resize cursor */
}

td {
    position: relative; /* Ensure the parent cell is the containing block */
}
</style>
	<div data-controller="room">
		<div class="row">
			{% for employee in employees %}
				<div class="col-md-2" data-room-target="employee" id="employee{{employee.id}}">
					<div class="btn">
						{{ employee.name }}
					</div>
				</div>
			{% endfor %}
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Time</th>
					{% for day in days %}
						<th colspan="{{ rooms | length }}">{{ day }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>{%trans%}Rooms{%endtrans%}</th>
					{% for day in days %}
						{% for room in rooms %}
							<th colspan="">{{ room.name }}</th>
						{% endfor %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for key, timeSlot in timeSlots %}
					{% if timeSlots[key +1] is defined %}
					<tr>
						<td >{{ timeSlot }}-{{timeSlots[key+1]}}</td>
						{% for day in days %}
							{% for room in rooms %}
								<td data-room-target="slot">
								</td>
							{% endfor %}
						{% endfor %}
						</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% endblock %}
