{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
	<div data-controller="room">
		<div class="row">
			{% for employee in employees %}
				<div class="col-md-2" data-room-target="employee" id="employee{{employee.id}}">
					<div class="btn">
						{{ employee.name }}
					</div>
				</div>
			{% endfor %}
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Time</th>
					{% for day in days %}
						<th colspan="{{ rooms | length }}">{{ day }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>{%trans%}Rooms{%endtrans%}</th>
					{% for day in days %}
						{% for room in rooms %}
							<th colspan="">{{ room.name }}</th>
						{% endfor %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for key, timeSlot in timeSlots %}
					{% if timeSlots[key +1] is defined %}
					<tr>
						<td >{{ timeSlot }}-{{timeSlots[key+1]}}</td>
						{% for day in days %}
							{% for room in rooms %}
								<td data-room-target="slot">
								</td>
							{% endfor %}
						{% endfor %}
						</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% endblock %}
