{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
	<style>
		.button_calendar {
			background-color: #ddd;
			min-width: 20px;
			max-height: 20px;
			border: 2px solid blue;
			border-radius: 50%;
			text-align: center;
			color: blue;
			opacity: 0;
			transition: 0.5s;
			&:hover {
				opacity: 1;
			}
		}
		.bg-Feiertag {
			background-color: lightblue !important;

		}
		.bg-bezahlte.Urlaub {
			background-color: yellow !important;
		}
		.bg-Fortbildung {
			background-color: pink !important;
		}
        .bg-SchmutzigeDunstig {
			background-color: orange !important;
		}
        
	</style>
</h1>
<h1>
	{% trans %}
	Kalender
	{% endtrans %}</h1>
<div class="btn-group mtb-2" role="group" aria-label="Basic example">
	<a type="button" class="btn btn-secondary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'year': (output|first).date | date('Y') -1 })) }}">{{(output|first).date | date('Y') -1 }}</a>
	<a type="button" class="btn btn-secondary">
		{{(output|first).date | date('Y')}}</a>
	<a type="button" class="btn btn-secondary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'year': (output|first).date | date('Y') +1 })) }}">{{(output|first).date | date('Y') +1 }}</a>
</div>
{% set date = null %}
{% set year = null %}
{% set month = null %}
{% set end = null %}
<table class="table ">
	{% for outpu in output %}
		{% if year != outpu.date | date('Y') %}
			{% set year = outpu.date | date('Y') %}
			<thead>
				<tr>
					<th colspan="33">
						{{ year }}
					</th>
				</tr>
			</thead>
		{% endif %}
		{% if month != outpu.date | date('F') %}
			{% set month = outpu.date | date('F') %}
			<tbody>
				<tr>
					<th colspan="33">
						{{ month | trans() }}
					</th>
				</tr>
				<tr>
					<td colspan="2"></td>
					{% for i in 1..31 %}
						{% if not datexists(i,outpu.date |date('m'),year) %}

							{% else %}
								<td>
									{{i}}
									<br/>{{weekday(i,outpu.date |date('m'),year)|trans()}}</td>
						{% endif %}
					{% endfor %}

					{% for key,users in groupCount %}
						{% if( group is defined and group == key)  or group is null %}
							{% set rowspan = users | length %}
							{% for user in users %}
							{% if( userP is defined and userP is not null) %}
								 {% set rowspan = 1 %}
							{% endif %}
							{% if( userP is defined and userP == user.name)  or userP is null %}
								<tr>
									{% if rowspan > 0 %}
										<td rowspan="{{rowspan}}">
											{{ key }}
										</td>
									{% endif %}
									<td>{{ user.name }}</td>
									{% for i in 1..31 %}
										{% if not datexists(i,outpu.date |date('m'),year) %}
                                            <td></td>
                                        {% else %}
												{% if i > 9 %}
													{% set date = year ~ '-' ~ outpu.date | date('m') ~ '-' ~ i %}
												{% else %}
													{% set date = year ~ '-' ~ outpu.date | date('m') ~ '-' ~'0'~ i %}
												{% endif %}
												{% if outputUser[user.id][date] is defined %}
													<td class="bg-{{outputUser[user.id][date][0].typeOfAbsence}}">
														{{outputUser[user.id][date][0].typeOfAbsence | slice(0,1)}}
														{#
														{% for abs in outputUser[user.id][date] %}
															{{ abs.typeOfAbsence | slice(0,1)}}<br/>
														{% endfor %} #}
														{#
														{% for abs in outputUser[user.id][date] %}
															{{ abs.typeOfAbsence | slice(0,1)}}<br/>
														{% endfor %} #}
													</td>
												{% else %}
													{% if isWeekend(date) %}
														<td style="background-color:lightgray"></td>

													{% elseif outputBankHolidays[date] is defined %}
														<td>f</td>
													{% elseif isWorkday(user,date) and (user.startDate | date('Ymd')) < (date | date('Ymd'))%}
														<td class="bg-success"></td>
													{% elseif outputWorkingDays[user.id] is defined and outputWorkingDays[user.id][date] is defined   and outputWorkingDays[user.id][date]  %}
														<td class="bg-success"></td>
													{% else %}
														<td>
															<a href="{{ path('admin',{'routeName':'holiday_request_new', 'entityId' : user.id, 'date':date|date('d-m-Y') } ) }}" class="button_calendar">+</a>
														</td>
													{% endif %}
												{% endif %}
										{% endif %}
									{% endfor %}
								</tr>
								{% set rowspan = 0 %}
							{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</tr>
			</tbody>
		{% endif %}
	{% endfor %}
</table>{% endblock %}
