{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <h1>{{app.user.name}}</h1>
    {% if user.hasTimesheet %}     
    <a 
        href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'crudAction': 'monthView' })) }}"
        class="btn btn-primary"
    >
        {% trans %} Monatsansicht {% endtrans %}
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a 
        href="{{ path('admin',{'routeName':'admin_timesheet_add_time','entityId':user.id} ) }}"
        class="btn btn-primary"
    >
        {% trans %} ConsumeTime {% endtrans %}
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or user.id == app.user.id %}
    <a 
        href="{{ path('admin',{'routeName':'holiday_request_new', 'entityId' : user.id } ) }}"
        class="btn btn-primary"
    >
        {% trans %} Add urlaub {% endtrans %}
    </a>
    {% endif %}    
    <a 
        href="{{ path('admin',{'routeName':'admin_timesheet_consume_time','entityId':user.id} ) }}"
        class="btn btn-primary"
    >
        {% trans %} AddTimesheet {% endtrans %}
    </a>
    <a 
        href="{{ path('admin',{'routeName':'app_holiday_calculator','entityId':user.id} ) }}"
        class="btn btn-info"
    >
        {% trans %} Urlaubsrechner {% endtrans %}
    </a>    

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <h2> Wochenplan </h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{%trans%}Monday{%endtrans%}</th>
                <th>{%trans%}Tuesday{%endtrans%}</th>
                <th>{%trans%}Wednesday{%endtrans%}</th>
                <th>{%trans%}Thursday{%endtrans%}</th>
                <th>{%trans%}Friday{%endtrans%}</th>
                <th>{%trans%}Saturday{%endtrans%}</th>
                <th>{%trans%}Sunday{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% trans %}Arbeitstag{% endtrans %}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[0].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[1].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[2].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[3].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[4].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[5].workingDay}} {%trans%}day{%endtrans%}</td>
                <td>{{app.user.userSchedules[0].userWeekdayProperties[6].workingDay}} {%trans%}day{%endtrans%}</td>
            </tr>
            <tr>
                <td>{% trans %}Arbeitstunden{% endtrans %}</td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[0].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[0].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[1].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[1].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[2].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[2].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[3].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[3].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[4].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[4].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[5].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[5].workingHours | date('H:i')}}
                    {% endif %}
                </td>
                <td>
                    {% if app.user.userSchedules[0].userWeekdayProperties[6].workingHours is not null %}
                        {{app.user.userSchedules[0].userWeekdayProperties[6].workingHours | date('H:i')}}
                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>
    <h2> Zeitstempel </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Actual overtime{% endtrans %}</th>
                <td>{{ toTime(overtime) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-2"></div>
    <h2> Urlaubs </h2>
    <p> Urlaube sind bis spätestens 31 März für das vorheriges Jahr zu nehmen. Die Resturlaube verfallen. </p>
        <table class="table">
        <thead>
            <tr>
                <th>Jahr</th>
                <th>Urlaubsansprüche</th>
                <th>geplant</th>
                <th>GruppenUrlaub</th>
                {# <th>davon in genehmigung</th> #}
                <th>Rest</th>
            </tr>
        </thead>
        <tbody>
            {% for key, values in table %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.anspruch | number_format(1,",",".") }}</td>
                    <td>{{ values.singleHoliday | number_format(1,",",".") }}</td>
                    <td>{{ values.groupHoliday | number_format(1,",",".") }}</td>
                    <td>{{ (values.anspruch - values.groupHoliday - values.singleHoliday) | number_format(1,",",".") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p> im Jahr {{"now"|date('Y')}}</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Urlaubsansprüche</th>
                <td>{{ holidayForYear | number_format(1,",",".")}}</td>
            </tr>
            <tr>
                <th>geplant</th>
                <td>{{ holidayTakenForYear| number_format(1,",",".") }}</td>
            </tr> 
            <tr>
                <td colspan = "">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Urlaub</th>
                                <th>von</th>
                                <th>bis</th>
                                <th>genehmigt</th>
                            </tr>
                        </thead>
                        {% for holiday in userHoliday %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td></td>
            </tr>             
            <tr>
                <th>gruppenUrlaub</th>
                <td>{{ groupHolidays | number_format(1,",",".") }}</td>
            </tr>                 
            <tr>
                <td colspan = "">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Urlaub</th>
                                <th>von</th>
                                <th>bis</th>
                                <th>genehmigt</th>
                            </tr>
                        </thead>
                        {% for holiday in groupHolidaysList %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endfor %}
                        {% for holiday in groupHolidaysList2 %}
                        {% if holiday.absenceInWorkingDays > 0 %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}                        
                    </table>
                </td>
                <td></td>
            </tr>             

            <tr>
                <th>davon in genehmigung</th>
                <td>{{ pendingForYear | number_format(1,",",".")}}</td>
            </tr>                     
        </tbody>
    </table>    

{% endblock %}
