{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block content_title %}
	{% trans %}
	Konfiguration
	{% endtrans %}
{% endblock %}
{% block main %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-tabs nav-bordered" role="tablist">
						<li class="nav-item" role="presentation">
							<a href="#home-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active" aria-selected="true" role="tab">
								{% trans %}Allgemein{% endtrans %}
							</a>
						</li>
						<li class="nav-item" role="presentation">
							<a href="#profile-b1" data-bs-toggle="tab" aria-expanded="true" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
								{% trans %}Modules{% endtrans %}
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active show" id="home-b1" role="tabpanel">
							<table class="table">
								<tbody>
									<tr>
										<th>
											Name
										</th>
										<td>
											{{ app.user.company.name }}
										</td>
									</tr>
									{% if app.user.company.location is not null %}
										<tr>
											<th colspan="2">
												Adresse
											</th>
										</tr>
										<tr>
											<th>
												Straße
											</th>
											<td>
												{{ app.user.company.location.street }}
											</td>
										</tr>
										<tr>
											<th>
												Plz
											</th>
											<td>
												{{ app.user.company.location.zipCode }}
											</td>
										</tr>
										<tr>
											<th>
												Stadt
											</th>
											<td>
												{{ app.user.company.location.city }}
											</td>
										</tr>
										<tr>
											<th>
												Logo
											</th>
											<td>
												{{ app.user.company.location.city }}
											</td>
										</tr>
									{% endif %}
									<tr>
										<td colspan="2">
											<a href="{{ ea_url() .setController('App\\Controller\\Admin\\CompanyCrudController') .setAction('edit') .setEntityId(app.user.company.id) }}">
												<i class="fas fa-edit"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
						<div class="tab-pane" id="profile-b1" role="tabpanel">
							{% for configuration in configurations %}
								<div class="row">
									<div class="col-md-3">
										{{ configuration.moduleConfiguration.module.name | trans()}}
									</div>
									<div class="col-md-1">
										<div class="form-check form-switch">
											<input type="checkbox" class="form-check-input" id="customSwitch1" data-url="/moduleConfigurationValue/{{ configuration.id }}" data-action="click->global#fetchToggleAction" {% if configuration.value %}checked{% endif %}>
										</div>
									</div>
									<div class="col-md-1">
										<a href="{{
											ea_url().setController('App\\Controller\\Admin\\ModuleConfigurationValueCrudController')
													.setAction('showModuleConfiguration')
													.setEntityId(configuration.id)
											
											}}">
											<i class="material-symbols-outlined">settings</i>
										</a>
									</div>									
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
