{% extends 'base.html.twig' %}

{% block title %}Timesheet index{% endblock %}

{% block body %}
    <h1>Timesheet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>OverTime</th>
                <th>Break</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timesheet in timesheets %}
            <tr>
                <td>{{ timesheet.id }}</td>
                <td>{{ timesheet.startTime ? timesheet.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timesheet.endTime ? timesheet.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timesheet.break ? timesheet.break|date('H:i:s') : '' }}</td>
                <td>{{ minutesToTime(timesheet.overtime) }}</td>
                <td>{{ timesheet.user.email }}</td>
                <td>
                    <a href="{{ path('app_timesheet_show', {'id': timesheet.id}) }}">show</a>
                    <a href="{{ path('app_timesheet_edit', {'id': timesheet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_timesheet_new') }}">{% trans %} Neu {% endtrans %}</a>
{% endblock %}
