
{% extends '@!EasyAdmin/layout.html.twig' %}
{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}
{% block search_wrapper %}
    {% if app.user.hasTimesheet %}
        {% include 'common/timeHeader.html.twig' %}
    {% endif %}
{% endblock %}
{% block content_top_header %}
    {{ parent() }}
    {% if helpContent is defined and helpContent %}
        <div class="help-button">
            <i class="fas fa-question-circle" id="showHelpButton"></i>
        </div>
    {% endif %}
{% endblock %}
{% block wrapper_wrapper %}
    {{ parent() }}
    {% block new_block %}

        <div class="help-sidebar hidden" id="helpsidebar">
            <a id="closeHelpButton" class="close-button">X</a>
            <!-- Add your new content here -->
                {% if helpContent is defined and helpContent %}
                    {{helpContent.content}}
                {% endif %}
        </div>
    {% endblock %}
{% endblock %}

{% block configured_javascripts %}
    {{ importmap('app') }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}