{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
	<div class="container container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>Overview</h2>
				<p>Welcome to the dashboard.</p>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
                        <div class="card_bignumber"> {{app.user.company.users | length}} </div>
						<h5 class="card-title">Number of User</h5>
						<a href="#" class="btn btn-primary">Add User</a>
					</div>
				</div>
			</div>
			{#
			<div class="col-md-4">
				<div class="card">
                    <div class="card-body">
                    {{ render_chart(chart) }}
						<h5 class="card-title">Overtime Development</h5>
						<a href="#" class="btn btn-primary">Add Time</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
                    <div class="card-body">
						<h5 class="card-title">Holiday Statement</h5>
						<a href="#" class="btn btn-primary">Add Holiday</a>
					</div>
				</div>
			</div>
			#}
			<div class="col-md-4">
				<div class="card">
                    <div class="card-body">
						<h5 class="card-title">{%trans%}workingToday{%endtrans%}</h5>
						<ul>
							{% for user in todaysWorkers %}
								<li>{{user.name}}</li>
							{% endfor %}
					</div>
				</div>
			</div>	
			<div class="col-md-4">
				<div class="card">
                    <div class="card-body">
						<h5 class="card-title">{%trans%}workload.today{%endtrans%}</h5>
						<ul>
							{% for key,minutes in workloadToday %}
								<li>{{key}}: {{toTime(minutes)}}</li>
							{% endfor %}
					</div>
				</div>
			</div>		
			<div class="col-md-12">
				<h2>
					{% trans %}WorkingTime.thisWeek{% endtrans %}
				</h2>
				<table class="table datagrid">
					<thead>
						<tr>
							<th>{% trans %}Monday{% endtrans %}</th>
							<th>{% trans %}Tuesday{% endtrans %}</th>
							<th>{% trans %}Wednesday{% endtrans %}</th>
							<th>{% trans %}Thursday{% endtrans %}</th>
							<th>{% trans %}Friday{% endtrans %}</th>
							<th>{% trans %}Saturday{% endtrans %}</th>
							<th>{% trans %}Sunday{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{workingTimeThisWeek.0.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.1.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.2.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.3.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.4.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.5.workingHours | date('h:i')}}</td>
							<td>{{workingTimeThisWeek.6.workingHours | date('h:i')}}</td>
						</tr>
						<tr>
							<td>{% if timesheetThisWeek.Monday is defined %}{{toTime(timesheetThisWeek.Monday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Tuesday is defined %}{{toTime(timesheetThisWeek.Tuesday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Wednesday is defined %}{{toTime(timesheetThisWeek.Wednesday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Thursday is defined %}{{toTime(timesheetThisWeek.Thursday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Friday is defined %}{{toTime(timesheetThisWeek.Friday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Staturday is defined %}{{toTime(timesheetThisWeek.Saturday)}}{% endif %}</td>
							<td>{% if timesheetThisWeek.Sunday is defined %}{{toTime(timesheetThisWeek.Sunday)}}{% endif %}</td>
							
						</tr>						
					</tbody>
				</table>
			</div>							
			<div class="col-md-12">
				<h2>
					{% trans %}Benutzer{% endtrans %}
				</h2>
				<table class="table datagrid">
					<thead>
						<tr>
							<th>{% trans %}Name{% endtrans %}</th>
							<th></th>
							<th>{% trans %}Role{% endtrans %}</th>
							<th>{% trans %}Group{% endtrans %}</th>
							<th>{% trans %}Overtime{% endtrans %}</th>
							<th>{% trans %}Statut{% endtrans %}</th>
							<th>{% trans %}Holiday{% endtrans %}</th>
							<th>{% trans %}Action{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
						{% for user in app.user.company.users %}
						<tr>
							<td>
								{{user.name}}
							</td>
							<td>
								{% include 'common/avatar.html.twig' %}
							<td>
							{{user.roles[0]}}	
							</td>
							<td>
								{% if user.workingGroup is not null %}
									{{user.workingGroup.name}}	
								{% endif %}
							</td>
							<td>
								{{user.roles[0]}}	
							</td>							
							<td>
								{{user.state}}	
							</td>
							<td>
								{{user.state}}	
							</td>							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
