{{ form_start(form) }}
    <h2> Allgemein </h2>
    {{form_row(form.email)}}
    {{form_row(form.name)}}
    {{form_row(form.manager)}}
    {{form_row(form.workingGroup)}}
    {{form_row(form.startDate)}}
    {{form_row(form.endDate)}}
    {{form_row(form.roles)}}
    
    <h3> Arbeitszeiten </h3>
    {% for weekday in form.userWeekdayProperties %}
        <div class="row">
            <div class="col-md-2">
                {{weekday.vars.value.weekday | trans()}}
            </div>
            <div class="col-md-2">
                {{ form_row(weekday.workingDay) }}
            </div>
            <div class="col-md-2">
                {{ form_row(weekday.workingHours) }}
            </div>
        </div>
    {% endfor %}
    <h3> Urlaubstage </h3>
    {{form_widget(form.userProperties[0])}}
    <button class="btn btn-primary">{{ button_label|default('Speichern') }}</button>
{{ form_end(form) }}
