{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <h2> Zeitstempel </h2>
    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Actual overtime{% endtrans %}</th>
                <td>{{ toTime(overtime) }}</td>
            </tr>
        </tbody>
    </table>
     
    <a 
        href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'crudAction': 'monthView' })) }}"
        class="btn btn-primary"
    >
        {% trans %} Monatsansicht {% endtrans %}
    </a>
    {% if is_granted('ROLE_ADMIN') %}
    <a 
        href="{{ path('admin',{'routeName':'admin_timesheet_add_time','entityId':user.id} ) }}"
        class="btn btn-primary"
    >
        {% trans %} ConsumeTime {% endtrans %}
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or user.id == app.user.id %}
    <a 
        href="{{ path('admin',{'routeName':'holiday_request_new', 'entityId' : user.id } ) }}"
        class="btn btn-primary"
    >
        {% trans %} Add urlaub {% endtrans %}
    </a>
    {% endif %}    
    <a 
        href="{{ path('admin',{'routeName':'admin_timesheet_consume_time','entityId':user.id} ) }}"
        class="btn btn-primary"
    >
        {% trans %} AddTimesheet {% endtrans %}
    </a>
    <a 
        href="{{ path('admin',{'routeName':'app_holiday_calculator','entityId':user.id} ) }}"
        class="btn btn-info"
    >
        {% trans %} Urlaubsrechner {% endtrans %}
    </a>    
    <div class="mb-2"></div>
    <h2> Urlaubs </h2>
    <p> Urlaube sind bis sp채testens 31 M채rz f체r das vorheriges Jahr zu nehmen. Die Resturlaube verfallen. </p>
    <p> im Jahr {{"now"|date('Y')}}</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Urlaubsanspr체che</th>
                <td>{{ holidayForYear | number_format(1,",",".")}}</td>
            </tr>
            <tr>
                <th>geplant</th>
                <td>{{ holidayTakenForYear| number_format(1,",",".") }}</td>
            </tr> 
            <tr>
                <td colspan = "">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Urlaub</th>
                                <th>von</th>
                                <th>bis</th>
                                <th>genehmigt</th>
                            </tr>
                        </thead>
                        {% for holiday in userHoliday %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td></td>
            </tr>             
            <tr>
                <th>gruppenUrlaub</th>
                <td>{{ groupHolidays | number_format(1,",",".") }}</td>
            </tr>                 
            <tr>
                <td colspan = "">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Urlaub</th>
                                <th>von</th>
                                <th>bis</th>
                                <th>genehmigt</th>
                            </tr>
                        </thead>
                        {% for holiday in groupHolidaysList %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endfor %}
                        {% for holiday in groupHolidaysList2 %}
                        {% if holiday.absenceInWorkingDays > 0 %}
                        <tr>
                            <td>{{ holiday.typeOfAbsence.name  }}: {{holiday.absenceInWorkingDays}}</td>
                            <td>{{ holiday.startDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.endDate | date('d.m.Y') }}</td>
                            <td>{{ holiday.state | trans() }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}                        
                    </table>
                </td>
                <td></td>
            </tr>             

            <tr>
                <th>davon in genehmigung</th>
                <td>{{ pendingForYear | number_format(1,",",".")}}</td>
            </tr>                     
        </tbody>
    </table>    

{% endblock %}
