{% extends 'base.html.twig' %}

{% block title %}TypeOfAbsence index{% endblock %}

{% block body %}
    <h1>TypeOfAbsence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreationDate</th>
                <th>IsHoliday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_of_absence in type_of_absences %}
            <tr>
                <td>{{ type_of_absence.id }}</td>
                <td>{{ type_of_absence.name }}</td>
                <td>{{ type_of_absence.creationDate ? type_of_absence.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_of_absence.isHoliday ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_type_of_absence_show', {'id': type_of_absence.id}) }}">show</a>
                    <a href="{{ path('app_type_of_absence_edit', {'id': type_of_absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_of_absence_new') }}">Create new</a>
{% endblock %}
